@media (max-width: 900px) {
    .flex-responsive{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .about-me{
        width: auto;
    }

    .about-me > .my-career{
        margin-bottom: 70px;
    }
}