:root{
    /* Brand colors */
    --php: #4f5b93;
    --kotlin: #7F52FF;
    --asp: #9400ff;
    --csharp: #178600;
    --javascript: #f1e05a;
    --sql: #e38c00;
    --firebase: #FFA000;
}

.margin-none{
    margin: 0;
}

/* Margin top */

.mt-1{
    margin-top: 6px;
}

.mt-2{
    margin-top: 12px;
}

.mt-3{
    margin-top: 18px;
}

.mt-4{
    margin-top: 24px;
}

.mt-5{
    margin-top: 30px;
}

/* Gap */

.gap-1{
    gap: 4px;
}

.gap-2{
    gap: 8px;
}

/* Alignments */
.al-item{
    align-items: center;
}
.t-align{
    text-align: center;
}


.j-content{
    justify-content: center;
}

.php{
    color: var(--php);
}

.kotlin{
    color: var(--kotlin);
}