:root{
    /* Backgrounds */
    --carbon: #191919;
    --carbon-oscuro: #141414;
    --gris: #1f1f1f;

    /* Fuentes */
    --blanco: #fff;
    --blanco-grisaceo: #cccccc;
}

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    background-color: var(--carbon);
}

body{
    margin: 0;
}

.i-stack{
    font-size: 32px;
    color: white;
}

.container{
    padding: 70px;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.flex-container{
    display: flex;
    flex-direction: column;
}

.flex-container-row{
    display: flex;
}

.lang{
    font-size: 10px;
    font-style: normal;
}

.about-me{

    width: 480px;
    color: var(--blanco);


    & h1{
        font-size: 36px;
    }

    .my-career{
        height: 170px;
        margin-bottom: 25px;

    }

    .stack{
        gap: 15px;
    }

    & p{
        color: var(--blanco-grisaceo);
        font-size: 14px;
        line-height: 24px;
    }
    
    .curriculum{

        & button{
            background-color: transparent;
            border: 2px solid white;
            color: white;
            padding: 10px 20px;
            border-radius: 8px;
            width: 180px;
            font-size: 14px;
            cursor: pointer;
            transition: transform 0.3s ease-in-out;
        }
       
        & button:hover{
            transform: scale(1.05);
        }
    }

    .find-me{

        gap: 15px;

        .yo{
            width: 30px;
            height: auto;
            border-radius: 20px;
        }

        .socials{
            gap: 20px;

            .github{
                color: var(--blanco);
                font-size: 12px;
                text-decoration: none;   
            }
    
            .linkedin{
                color: var(--blanco);
                font-size: 12px;
                text-decoration: none;
            }
        }

        .language{
            height: 14px;
            align-items: center;
            gap: 5px;

            & p{
                font-size: 12px;
                color: white;
            }

            .lang{
                cursor: pointer;
                background-color: transparent;
                color: white;
    
                & option{
                    background-color: var(--carbon);
                }
            }
        }

        
    }
}

.projects{

    gap: 15px;
    color: var(--blanco);

    .project{
        padding: 15px;
        background-color: var(--gris);
        height: 135px;
    }

    .more-projects{
        background-color: var(--carbon-oscuro);
        height: auto;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        & div{
            justify-content: center;
            align-items: center;
            gap: 8px;
            height: 30px;
        }
    }

    .more-projects:hover{
        transform: scale(1.01);
    }
}